// colors
$color_primary:       #00deff;
$color_green_1:       #45B39D;
$color_green_2:       #58D68D;
$color_bg:            #292c2e;

$color_black:         #000000;
$color_white:         #FFFFFF;

// fonts
@import url('https://fonts.googleapis.com/css?family=Spartan:300,400,500,700&display=swap');

$font_primary: 'Spartan', sans-serif;

// mixings
@mixin supertransformation($transforms) {
	-moz-transition: all $transforms ease;
	-ms-transition: all $transforms ease;
	-o-transition: all $transforms ease;
	-webkit-transition: all $transforms ease;
	transition: all $transforms ease;
}

%transform_05 { @include supertransformation(0.5s); }

%after-before-bas {
	content: ' ';
	position: absolute;
}

@mixin linear-gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background: -webkit-linear-gradient(top, $from 0%, $to 100%);
	background: -o-linear-gradient(top, $from 0%, $to 100%);
	background: linear-gradient(to bottom, $from 0%, $to 100%);
	filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}


// general
.body {
  margin: 0;
  font-family: $font_primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// img
.img {
  &.img {
    &-auto { object-fit: cover; }
  }
}

// text
.text {
  font-family: $font_primary;
  &.text {
    &-color {
      &-primary { color: $color_primary; }
      &-white { color: $color_white; }
    }
    &-w {
      &-bold { font-weight: bold; }
      &-light { font-weight: 100; }
    }
  }
}

// btn
.btn {
  @extend %transform_05;
}